@model Museo.Models.Country

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar este dato?</h3>
<div>
    <h4>País</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del Artista
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.Nombre)
        </dd>

        <dt>
            Nombre de la Obra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artwork.Nombre)
        </dd>

        <dt>
            País Origen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePais)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
