@model Museo.Models.Country

@{
    ViewBag.Title = "Details";
}
    <hr />
    <h2 class="text-center">@Model.NombrePais</h2>

<div>
    <hr />
    <dl class="text-center">
        <dt>
           Nombre del Artista
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.Nombre)
        </dd>

        <dt>
            Nombre de la Obra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artwork.Nombre)
        </dd>

        <dt>
            País Origen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a lista", "CD")
</p>
