<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Practica Semanal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <div class="top" @*fixed-*@>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Login", "Account")">Iniciar sesion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Register", "Account")">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Index", "Principal")">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("About", "Home")">Acerca de Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Contact", "Home")">Contacto</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("Index", "Artists")">Artistas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("Index", "Artworks")">Obras de Arte</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("Index", "Countries")">Paises</a>
                            </li>
                        }

                        @if (User.IsInRole("Tourist"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("AD", "Artists")">Los Mejores Artistas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("AWD", "Artworks")">Las Grandes Obras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="@Url.Action("CD", "Countries")">Paises Donde se Orginan sus Obras</a>
                            </li>
                        }


                    </ul>
                </h5>
                <span class="text-muted">Donde el Arte Cobra Vida.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Practica Semanal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
